.App {
  text-align: center;
  padding: 12px;
  user-select: none;
}

h2 {
  margin: 50px 10px;
  color: green;
}

ol {
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumb-separator {
  color: green;
  margin: auto 8px;
  user-select: none;
  font-size: 30px;
}

.collapse-breadcrumb svg {
  cursor: pointer;
  color: #000;
  width: 35px;
  height: 35px;
  transition: all 0.3s ease-in-out;
}

.collapse-breadcrumb {
  display: flex;
  align-items: center;
}

.collapse-breadcrumb svg:hover,
.collapse-breadcrumb svg:focus {
  color: #999;
  transform: scale(1.2);
}

.collapse-breadcrumb svg:active {
  color: #333;
}

a {
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
  color: #000;
  background-color: rgba(0, 85, 255, 0.157);
  border-radius: 5px;
}

a:hover,
:active {
  color: green;
}
